*{
	margin:0;
	padding:0;
}
html,
body {
	font-family: "微软雅黑";
	overflow: hidden;
	height: 100%;
	line-height: 1.5;
}

body {
	font-size: 0.14rem;
}

html {
	font-size: 31.25vw;
}

em,
i {
	font-style: normal;
}
ul,li{
	list-style: none;
}
.box,.box .swiper-container{
	width:100%;
	height:100%;
}
.box .swiper-wrapper{
	width:100%;
	height:100%;
}
.banner{
	background: pink;
	width:100%;
	height:100%;
}
.banner p{
	width:100%;
	height:1.36rem;
	display: flex;
	justify-content: center;
	align-content: center;
}
.banner img{
	width:100%;
	height:4.32rem;
}

